body{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.ContractorsOffer{
    width: 100%; 
}
    /* ContractorsOffer */
    .ContractorsOffer .ContentContaner{
        width: 80%;
        background-color: white;
        padding: 44px;
        border-radius: 12px;
        height: 80vw;
        margin: 30px;
    }
    .ContractorsOfferCon {
        width: 100%;
        height: 100%;
    }

    .ContractorsOfferCon .TapleCon{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        direction: rtl;
        border-radius: 12px;
    } 
    .ContractorsOfferCon .TapleCon .Header{
        width: 20%;
        height: 50px;
        background-color: #FBF9FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: var(--btn-color);
    }  
    .ContractorsOfferCon .TapleCon .Taple{
        width: 100%;
        height: 100%;
        background-color: #FBF9FF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        /* justify-content: space-between; */
    } 
    .ContractorsOfferCon .TapleCon .Taple span{
        width: 100%;
    }
    .ContractorsOfferCon .TapleCon .Taple .Header{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        border-bottom: 2px solid  var(--btn-color);
        margin-bottom: 10px;
        
    } 
    .ContractorsOfferCon .TapleCon .Taple .Header div{
        flex: 1;
        grid-area: 4;
        font-size: 18px;
        font-weight: 800;
        font-family:  "HelveticaBold", sans-serif;
        color: var(--btn-color) ;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    } 
    .ContractorsOfferCon .TapleCon .Taple .body{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        margin-top: 10px;
    } 
    .ContractorsOfferCon .TapleCon .Taple .body div{
        flex: 1;
        grid-area: 4;
        font-size: 16px;
        font-weight: 500;
        font-family:  "Helvetica", sans-serif;
        color: #002195 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
    } 
    .ContractorsOfferCon .TapleCon .Taple .body div:nth-child(6){
        padding: 8px;
    } 


    .ContractorsOfferCon .pagination {
        margin-top: 20px; 
        display: flex; 
        justify-content: center; 
        gap: 5px;
        align-items: center;
        position: relative;
    }
    .ContractorsOfferCon .pagination-button {
        padding: 5px 10px; 
        border: 1px solid #707070; 
        color: #707070;
        cursor: pointer;
        background-color: #FFFFFF;
        transition: background-color 0.3s;
        border-radius: 4px;
    }
    .ContractorsOfferCon .pagination-button.active {
        color: black;
        border:2px solid var(--btn-color);
        background-color: #FBF9FF; 
        font-weight: 600;
    }
    .ContractorsOfferCon .page-select {
        padding: 5px;
        position: absolute;
        right: 0;
        background-color: white;
        color:var(--btn-color) ;
        border: 1px solid #CFD3D8;
        border-radius: 6px;
    }

    .tab {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the tab */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Make sure it appears above other content */
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        height: 600px;
        overflow-y: scroll;
    }
    .tab-content {
        text-align: center; /* Center text in the tab */
    }
    

    .thirdtab {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the tab */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Make sure it appears above other content */
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        height: 600px;
        overflow-y: scroll;
    }
    .tab-content {
        text-align: center; 
    }
    
    .thirdtab  button{
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: "HelveticaBold";
        border-radius: 12px;
        padding: 12px;
        background-color: #E2E8F0;
        color: var(--btn-color);
        margin: 24px;
    }
    .ContanerPDF{
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        width: 80%;
        direction: rtl;
    }
    .ContanerPDF .PDF{
        display: flex;flex-direction: column;justify-content: center;
        width: 200px;
        flex: 0 1 22%; /* Each child takes 25% of the row */
        box-sizing: border-box;
        margin: 8px;
    }
    .ContanerPDF .PDF div{
        display: flex;    
        margin: auto;
        width: 100%;
    }
    .ContanerPDF .PDF div input[type="checkbox"]{
        border-color: var(--text-color);
    }
    
    /* TapContenetCon */

    .TapContenetCon{
        width: 70%;
        height: 400px;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        border-radius: 12px;
        padding: 12px;
        font-family: "Helvetica";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        direction: rtl;
        margin: auto;
    }
    .TapContenetCon h4{
        color: var(--btn-color);
    }
    .TapContenetCon .AllContra{
        display: flex;
        direction: rtl;
        justify-content: right;
        align-items: center;
    }
    .TapContenetCon .AllContra input{

    }
    .TapContenetCon .AllContra input[type="checkbox"] {
        margin-right: 10px;
        margin-left: 22px;
        width: 21px;
        height: 21px;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        appearance: none;
        border: 2px solid #ccc;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .TapContenetCon .AllContra input[type="checkbox"]:checked {
        background-color: var(--btn-color);
        border-color: var(--btn-color); 
    }
    .TapContenetCon .AllContra select{
        width: 300px;
        height: 45px;
        font-size: 14px;
        font-family: "HelveticaBold";
        border: 0;
        border-bottom: 1px solid #CFD3D8;
        direction: rtl;
        margin: 12px;
    }    
    .TapContenetCon .oneContra{
        display: flex;
        direction: rtl;
        justify-content: right;
        align-items: center;
    }
    .TapContenetCon .oneContra label span{
        color: var(--btn-color);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
    }   
    .TapContenetCon .oneContra label span img{
        width: 15px; 
        height: 15px;
        margin: 8px;
    }
    .TapContenetCon .oneContra input[type="checkbox"] {
        margin-right: 10px;
        margin-left: 22px;
        width: 21px;
        height: 21px;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        appearance: none;
        border: 2px solid #ccc;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .TapContenetCon .oneContra input[type="checkbox"]:checked {
        background-color: var(--btn-color);
        border-color: var(--btn-color); 
    }
    .TapContenetCon .duration{
        display: flex;
        flex-direction: column;
        margin: 14px;
        width: 100%;
    }
    .TapContenetCon .duration label{

    }
    .TapContenetCon .duration select{
            width: 300px;
            height: 45px;
            font-size: 14px;
            font-family: "HelveticaBold";
            border: 0;
            border-bottom: 1px solid #CFD3D8;
            direction: rtl;
    }
    .BTNCon button{
        width: 70%;
        height: 40px;
        padding: 10px;
        border-radius: 12px;
        background-color: var(--btn-color);
        font-family: "HelveticaBold";
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px auto;
    }
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }