
.NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
 .NavBar {
    width: 100%;
}

 .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
    width: calc((100% / 8) - 51px);
    font-family: "Helvetica";
    color: var(--text-color);
    position: relative;
}   
 .NavBar ul li span{
    margin-left: 8px;
}
/* OnwerTap */

 .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    direction: rtl;
    display: flex;
    position: relative;
    z-index: 1;
}
 .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .OnwerTap .firstRow,
     .NavBar .OnwerTap .ScoRow,
     .NavBar .OnwerTap .ThirdRow{
        width: 270px;
        height: 80%;
        margin: 18px;
    }
     .NavBar .OnwerTap .ScoRow{
        margin-top: 80px;
    }

     .NavBar  .firstRow,
     .NavBar  .ScoRow{
        display: flex; 
        flex-direction: column; 
        margin-bottom: 10px;
    }
     .NavBar .firstRow .link-container,
     .NavBar .ScoRow .link-container{
        display: flex; 
        align-items: center; 
        margin: 5px 0;
        height: 24px;
    }
     .NavBar .firstRow .link-container img,
     .NavBar .ScoRow .link-container img {
        margin-right: 10px; 
        height: 24px; 
        width: auto; 
    }
     .NavBar  .firstRow .link-container a,
     .NavBar  .ScoRow .link-container a {
        text-decoration: none;
        color: inherit;
    
    }

     .NavBar  .link-container{
        width: 100%;
    }

/* consultativeTap */
 .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .consultativeTap .firstRow,
     .NavBar .consultativeTap .ScoRow,
     .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
     .NavBar .consultativeTap .ScoRow{
        margin-top: 70px;
    }


/* Contractors */

 .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

 .NavBar .ContractorsTap .firstRow,
     .NavBar .ContractorsTap .ScoRow,
     .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
     .NavBar .ContractorsTap .ScoRow{
        margin-top: 70px;
    }
/* HonestyTap */

 .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .HonestyTap .firstRow,
     .NavBar .HonestyTap .ScoRow,
     .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
     .NavBar .HonestyTap .ScoRow{
        margin-top: 70px;
    }
    
    .tab-link {
        cursor: pointer;
    }
    .tab-content {
        display: none; /* Hide all tabs by default */
    }


    
     .NavBar  .firstRow,
     .NavBar  .ScoRow{
        display: flex; 
        flex-direction: column; 
        margin-bottom: 10px;
    }
     .NavBar .firstRow .link-container,
     .NavBar .ScoRow .link-container{
        display: flex; 
        align-items: center; 
        margin: 5px 0;
        height: 24px;
    }
     .NavBar .firstRow .link-container img,
     .NavBar .ScoRow .link-container img {
        margin-right: 10px; 
        height: 24px; 
        width: auto; 
    }
     .NavBar  .firstRow .link-container a,
     .NavBar  .ScoRow .link-container a {
        text-decoration: none;
        color: inherit;
    
    }
     .NavBar .ThirdRow {
        position: absolute;
        left: 0;
        height: 50px;
        text-align: right;
    }
 .NavBar .OnwerTap  div,
 .NavBar .OnwerTap div,
 .NavBar .OnwerTap  div,
 .NavBar .consultativeTap  div,
 .NavBar .consultativeTap  div ,
 .NavBar .consultativeTap div ,
 .NavBar .ContractorsTap  div ,
 .NavBar .ContractorsTap  div ,
 .NavBar .ContractorsTap  div,
 .NavBar .HonestyTap  div ,
 .NavBar .HonestyTap  div ,
 .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

 .NavBar .OnwerTap  .link-container:hover,
 .NavBar .OnwerTap .link-container:hover,
 .NavBar .OnwerTap  .link-container:hover,
 .NavBar .consultativeTap  .link-container:hover,
 .NavBar .consultativeTap  .link-container:hover ,
 .NavBar .consultativeTap .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover,
 .NavBar .HonestyTap  .link-container:hover ,
 .NavBar .HonestyTap  .link-container:hover ,
 .NavBar .HonestyTap  .link-container:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
 .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -9px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
    font-family: "HelveticaBold";
    cursor: pointer;
    position: relative;
    z-index: 1;
}
 .NavBar .login-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

 .NavBar .login-img {
    width: 30px; 
    height: auto; 
    margin-right: 20px; 
    margin-left: 20px   ;
}