
.NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
 .NavBar {
    width: 100%;
}

 .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
    width: calc((100% / 8) - 51px);
    font-family: "Helvetica";
    color: var(--text-color);
    position: relative;
}   
 .NavBar ul li span{
    margin-left: 8px;
}
/* OnwerTap */

 .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -8px ;
    direction: rtl;
    display: flex;
    position: relative;
    z-index: 1;
}
 .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .OnwerTap .firstRow,
     .NavBar .OnwerTap .ScoRow,
     .NavBar .OnwerTap .ThirdRow{
        width: 270px;
        height: 80%;
        margin: 18px;
    }

     .NavBar  .firstRow,
     .NavBar  .ScoRow{
        display: flex; 
        flex-direction: column; 
        margin-bottom: 10px;
    }
     .NavBar .firstRow .link-container,
     .NavBar .ScoRow .link-container{
        display: flex; 
        align-items: center; 
        margin: 5px 0;
        height: 24px;
    }
     .NavBar .firstRow .link-container img,
     .NavBar .ScoRow .link-container img {
        margin-right: 10px; 
        height: 24px; 
        width: auto; 
    }
     .NavBar  .firstRow .link-container a,
     .NavBar  .ScoRow .link-container a {
        text-decoration: none;
        color: inherit;
    
    }

     .NavBar  .link-container{
        width: 100%;
    }

/* consultativeTap */
 .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .consultativeTap .firstRow,
     .NavBar .consultativeTap .ScoRow,
     .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }




/* Contractors */

 .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

 .NavBar .ContractorsTap .firstRow,
     .NavBar .ContractorsTap .ScoRow,
     .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
/* HonestyTap */

 .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: -15px ;
    display: flex;
    direction: rtl;
    display: none;
    position: relative;
    z-index: 1;
}

 .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
 .NavBar .HonestyTap .firstRow,
     .NavBar .HonestyTap .ScoRow,
     .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    
    .tab-link {
        cursor: pointer;
    }
    .tab-content {
        display: none; /* Hide all tabs by default */
    }


    
     .NavBar  .firstRow,
     .NavBar  .ScoRow{
        display: flex; 
        flex-direction: column; 
        margin-bottom: 10px;
    }
     .NavBar .firstRow .link-container,
     .NavBar .ScoRow .link-container{
        display: flex; 
        align-items: center; 
        margin: 5px 0;
        height: 37px;
    }
     .NavBar .firstRow .link-container img,
     .NavBar .ScoRow .link-container img {
        margin-right: 10px; 
        height: 24px; 
        width: auto; 
    }
     .NavBar  .firstRow .link-container a,
     .NavBar  .ScoRow .link-container a {
        text-decoration: none;
        color: inherit;
    }

    .NavBar .OnwerTap  .ScoRow,
    .NavBar .consultativeTap  .ScoRow,
    .NavBar .ContractorsTap  .ScoRow,
    .NavBar .HonestyTap  .ScoRow{
        margin-top: 88px;
    }
     .NavBar .ThirdRow {
        position: absolute;
        left: 0;
        height: 50px;
        text-align: right;
    }
 .NavBar .OnwerTap  div,
 .NavBar .OnwerTap div,
 .NavBar .OnwerTap  div,
 .NavBar .consultativeTap  div,
 .NavBar .consultativeTap  div ,
 .NavBar .consultativeTap div ,
 .NavBar .ContractorsTap  div ,
 .NavBar .ContractorsTap  div ,
 .NavBar .ContractorsTap  div,
 .NavBar .HonestyTap  div ,
 .NavBar .HonestyTap  div ,
 .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

 .NavBar .OnwerTap  .link-container:hover,
 .NavBar .OnwerTap .link-container:hover,
 .NavBar .OnwerTap  .link-container:hover,
 .NavBar .consultativeTap  .link-container:hover,
 .NavBar .consultativeTap  .link-container:hover ,
 .NavBar .consultativeTap .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover ,
 .NavBar .ContractorsTap  .link-container:hover,
 .NavBar .HonestyTap  .link-container:hover ,
 .NavBar .HonestyTap  .link-container:hover ,
 .NavBar .HonestyTap  .link-container:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
 .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -9px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
    font-family: "HelveticaBold";
    cursor: pointer;
    position: relative;
    z-index: 1;
}
 .NavBar .login-item {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

 .NavBar .login-img {
    width: 30px; 
    height: auto; 
    margin-right: 20px; 
    margin-left: 20px   ;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 44%;
    right: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 204px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 80px;
    border-radius: 11px;
}

.link-container.active .dropdown-content {
    display: block;
}
.link-container.active .dropdown-content  div{
    display: block;
    margin: 0; height: 10px; margin-top: 0px; margin-left: 93px;
    font-family: "Helvetica";

}

    /* Form */
    .form-container{
        direction: rtl;
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-right: 50px;
        margin-left: auto;
        border-bottom: 1px solid #CFD3D8;
        margin-bottom: 12px;
    }
    .form-container .inputCon {
        display: inline-flex;
        margin: 22px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .form-container .inputCon input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
        width: 280px;
    }
    .form-container .inputCon label{
        font-weight: 400;
        margin: 8px;
        text-align: justify;
    }
    .form-container .inputCon input::placeholder {
        font-family: "Helvetica", sans-serif;
        color: #888; /* Color of the placeholder text */
        font-style: italic; /* Italic style for the placeholder */
        opacity: 1; /* Set opacity to ensure visibility */
    }


    .NavVideo, .NavWay, .NavLast {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: white;
        width: 318px;
        height: auto;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 12px;
        padding: 12px;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
    }

    .NavVideo button {
        width: 100%;
        height: 46px;
        padding: 12px;
        border-radius: 12px;
        color: white;
        background-color: var(--btn-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
        font-family: "HelveticaBold";
    }

    .NavWay button {
        width: 100%;
        height: 46px;
        padding: 12px;
        border-radius: 12px;
        color: white;
        background-color: var(--btn-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
        font-family: "HelveticaBold";
    }

    .NavLast button {
        width: 100%;
        height: 46px;
        padding: 12px;
        border-radius: 12px;
        color: white;
        background-color: var(--btn-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 24px;
        font-family: "HelveticaBold";
    }

    .hidden {
        display: none;
    }
    