body{
    font-family: "Zain", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.reqcontract{
    width: 100%; 
}
.reqcontract .Media{
}
.reqcontract .Media .TopLeft{
    position: absolute;
    width: 475px;
    height: 478px;
    top: 0;
    left: 0;
    z-index: -1;
}
.reqcontract .Media .TopLeft img{
    width: 100%;
    height: 100%;
}
.reqcontract .Media .TopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -210px; 
    right: 950px;
    z-index: -1;
    transform: rotate(-10deg);
}
.reqcontract .Media .NastedTopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 87px;
    top: 0px;
}

.reqcontract .Contaner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reqcontract .Contaner .NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
.reqcontract .Contaner .NavBar .contaner{
    width: 100%;
}

.reqcontract .Contaner .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .Contaner .fullstope {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; /* Makes the shape a circle */
    margin-left: 5px; /* Optional: spacing after the circle */
}


.reqcontract .Contaner .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    font-weight: 500;
    color: #004693;
    line-height: 24px;
    cursor: pointer;
}
/* OnwerTap */

.reqcontract .Contaner .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    direction: rtl;
    display: flex;
}
.reqcontract .Contaner .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
.reqcontract .Contaner .NavBar .OnwerTap .firstRow,
    .reqcontract .Contaner .NavBar .OnwerTap .ScoRow,
    .reqcontract .Contaner .NavBar .OnwerTap .ThirdRow{
        width: 200px;
        height: 80%;
        margin: 18px;
    }
    .reqcontract .Contaner .NavBar .OnwerTap .ScoRow{
        margin-top: 80px;
    }

/* consultativeTap */
.reqcontract .Contaner .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.reqcontract .Contaner .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
.reqcontract .Contaner .NavBar .consultativeTap .firstRow,
    .reqcontract .Contaner .NavBar .consultativeTap .ScoRow,
    .reqcontract .Contaner .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .reqcontract .Contaner .NavBar .consultativeTap .ScoRow{
        margin-top: 70px;
    }


/* Contractors */

.reqcontract .Contaner .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.reqcontract .Contaner .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

.reqcontract .Contaner .NavBar .ContractorsTap .firstRow,
    .reqcontract .Contaner .NavBar .ContractorsTap .ScoRow,
    .reqcontract .Contaner .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .reqcontract .Contaner .NavBar .ContractorsTap .ScoRow{
        margin-top: 70px;
    }
/* HonestyTap */

.reqcontract .Contaner .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.reqcontract .Contaner .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
.reqcontract .Contaner .NavBar .HonestyTap .firstRow,
    .reqcontract .Contaner .NavBar .HonestyTap .ScoRow,
    .reqcontract .Contaner .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .reqcontract .Contaner .NavBar .HonestyTap .ScoRow{
        margin-top: 70px;
    }

.tab-link {
    cursor: pointer;
}
.tab-content {
    display: none; /* Hide all tabs by default */
}


  
.reqcontract .Contaner .NavBar  .firstRow,
.reqcontract .Contaner .NavBar  .ScoRow{
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
}
.reqcontract .Contaner .NavBar .firstRow .link-container,
.reqcontract .Contaner .NavBar .ScoRow .link-container{
    display: flex; 
    align-items: center; 
    margin: 5px 0;
    height: 24px;
}
.reqcontract .Contaner .NavBar .firstRow .link-container img,
.reqcontract .Contaner .NavBar .ScoRow .link-container img {
    margin-right: 10px; 
    height: 24px; 
    width: auto; 
}
.reqcontract .Contaner .NavBar  .firstRow .link-container a,
.reqcontract .Contaner .NavBar  .ScoRow .link-container a {
    text-decoration: none;
    color: inherit;

}
.reqcontract .Contaner .NavBar .ThirdRow  a {
    display: block;
    height: 24px;
}


.reqcontract .Contaner .NavBar .OnwerTap  div,
.reqcontract .Contaner .NavBar .OnwerTap div,
.reqcontract .Contaner .NavBar .OnwerTap  div,
.reqcontract .Contaner .NavBar .consultativeTap  div,
.reqcontract .Contaner .NavBar .consultativeTap  div ,
.reqcontract .Contaner .NavBar .consultativeTap div ,
.reqcontract .Contaner .NavBar .ContractorsTap  div ,
.reqcontract .Contaner .NavBar .ContractorsTap  div ,
.reqcontract .Contaner .NavBar .ContractorsTap  div,
.reqcontract .Contaner .NavBar .HonestyTap  div ,
.reqcontract .Contaner .NavBar .HonestyTap  div ,
.reqcontract .Contaner .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

.reqcontract .Contaner .NavBar .OnwerTap  div:hover,
.reqcontract .Contaner .NavBar .OnwerTap div:hover,
.reqcontract .Contaner .NavBar .OnwerTap  div:hover,
.reqcontract .Contaner .NavBar .consultativeTap  div:hover,
.reqcontract .Contaner .NavBar .consultativeTap  div:hover ,
.reqcontract .Contaner .NavBar .consultativeTap div:hover ,
.reqcontract .Contaner .NavBar .ContractorsTap  div:hover ,
.reqcontract .Contaner .NavBar .ContractorsTap .ScoRow div:hover ,
.reqcontract .Contaner .NavBar .ContractorsTap  div:hover,
.reqcontract .Contaner .NavBar .HonestyTap  div:hover ,
.reqcontract .Contaner .NavBar .HonestyTap  div:hover ,
.reqcontract .Contaner .NavBar .HonestyTap  div:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
.reqcontract .Contaner .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -20px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
        font-family: "Zain", sans-serif;
    cursor: pointer;
}
.reqcontract .Contaner .NavBar .login-item {
    display: flex; /* Align image and text in a row */
    align-items: center; /* Center the items vertically */
    margin-bottom: 10px; /* Space between items */
}

.reqcontract .Contaner .NavBar .login-img {
    width: 30px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    margin-left: 20px   ;
}

        /* OwnerDetils */
        .reqcontract .ContentContaner{
            width: 72%;
            height: 675px;
        }
        .reqcontract .ContentContaner .OwnerDetails{
            width: 100%;
            height: auto;
            box-shadow: 0px 4px 19.5px 0px #0000001F;
            background-color: white;
            direction: rtl;
            padding: 12px;
            border-radius: 12px;
            padding: 24px;
        }
        .reqcontract .ContentContaner .OwnerDetails .radioInput{
            width: 100%;
            height: 40px;
            margin: 8px;
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 33px;
            }
        .reqcontract .ContentContaner .OwnerDetails select{
            width: 80%;
            border: 0;
            border-bottom: 1px solid #CFD3D8;
            padding: 11px;
            }
        .reqcontract .ContentContaner .OwnerDetails .radioInput input{
            width: 31px;
            height: 20px;
        }
        .reqcontract .ContentContaner .OwnerDetails .radioInput label{
            font-size: 20px;
            font-weight: 400;
            }
        .reqcontract .ContentContaner .OwnerDetails .select:focus-visible{
            border: none !important
        }
        .reqcontract .ContentContaner .OwnerDetails select:focus {
            border: none !important;
        }
        .reqcontract .ContentContaner .OwnerDetails select option {
            font-family: "Zain", sans-serif;
        }
        .reqcontract .ContentContaner .OwnerDetails select option:hover {
            background-color: #F7F7FD;
        }


    /* btns */

    .Btnscontainer {
        display: flex;
        width: 100%;
        margin: 20px 0;
        justify-content: start;
    }
    
    
    .Btnscontainer .service-button {
        width: 100%;
        height: 50px;
        background-color: #3E2984;
        color: white;
        font-size: 23px;
        font-weight: 500;
        border-radius: 12px;
        cursor: pointer;
        padding: 12px;
        text-align: center;
        justify-content: center;
        border: 0;
        font-family: "Zain", sans-serif;
    }
    a{
        color: #003366;
        text-decoration: none; 
    }
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }