body{
    font-family: "Zain", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    height: auto; 
}
.ReqWaterServiceDoc{
    width: 100%; 

}
.ReqWaterServiceDoc .Media{
}
.ReqWaterServiceDoc .Media .TopLeft{
    position: absolute;
    width: 475px;
    height: 478px;
    top: 0;
    left: 0;
    z-index: -1;
}
.ReqWaterServiceDoc .Media .TopLeft img{
    width: 100%;
    height: 100%;
}
.ReqWaterServiceDoc .Media .TopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -210px; 
    right: 950px;
    z-index: -1;
    transform: rotate(-10deg);
}
.ReqWaterServiceDoc .Media .NastedTopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 87px;
    top: 0px;
}
.ReqWaterServiceDoc .Media .AboutSection{
    
}
.ReqWaterServiceDoc .Media .footer{
    
}
.ReqWaterServiceDoc .Contaner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ReqWaterServiceDoc .Contaner .NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
.ReqWaterServiceDoc .Contaner .NavBar .contaner{
    width: 100%;
}

.ReqWaterServiceDoc .Contaner .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .Contaner .fullstope {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; /* Makes the shape a circle */
    margin-left: 5px; /* Optional: spacing after the circle */
}


.ReqWaterServiceDoc .Contaner .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
}
/* OnwerTap */

.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    direction: rtl;
    display: flex;
}
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap .firstRow,
    .ReqWaterServiceDoc .Contaner .NavBar .OnwerTap .ScoRow,
    .ReqWaterServiceDoc .Contaner .NavBar .OnwerTap .ThirdRow{
        width: 200px;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterServiceDoc .Contaner .NavBar .OnwerTap .ScoRow{
        margin-top: 80px;
    }

/* consultativeTap */
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap .firstRow,
    .ReqWaterServiceDoc .Contaner .NavBar .consultativeTap .ScoRow,
    .ReqWaterServiceDoc .Contaner .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterServiceDoc .Contaner .NavBar .consultativeTap .ScoRow{
        margin-top: 70px;
    }


/* Contractors */

.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap .firstRow,
    .ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap .ScoRow,
    .ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap .ScoRow{
        margin-top: 70px;
    }
/* HonestyTap */

.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap .firstRow,
    .ReqWaterServiceDoc .Contaner .NavBar .HonestyTap .ScoRow,
    .ReqWaterServiceDoc .Contaner .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterServiceDoc .Contaner .NavBar .HonestyTap .ScoRow{
        margin-top: 70px;
    }

.tab-link {
    cursor: pointer;
}
.tab-content {
    display: none; /* Hide all tabs by default */
}

    
.ReqWaterServiceDoc .Contaner .NavBar  .firstRow,
.ReqWaterServiceDoc .Contaner .NavBar  .ScoRow{
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
}
.ReqWaterServiceDoc .Contaner .NavBar .firstRow .link-container,
.ReqWaterServiceDoc .Contaner .NavBar .ScoRow .link-container{
    display: flex; 
    align-items: center; 
    margin: 5px 0;
    height: 24px;
}
.ReqWaterServiceDoc .Contaner .NavBar .firstRow .link-container img,
.ReqWaterServiceDoc .Contaner .NavBar .ScoRow .link-container img {
    margin-right: 10px; 
    height: 24px; 
    width: auto; 
}
.ReqWaterServiceDoc .Contaner .NavBar  .firstRow .link-container a,
.ReqWaterServiceDoc .Contaner .NavBar  .ScoRow .link-container a {
    text-decoration: none;
    color: inherit;

}
.ReqWaterServiceDoc .Contaner .NavBar .ThirdRow  a {
    display: block;
    height: 24px;
}

.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap  div,
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap div,
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap  div,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap  div,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap  div ,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap div ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap  div ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap  div ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap  div,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div ,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div ,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap  div:hover,
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap div:hover,
.ReqWaterServiceDoc .Contaner .NavBar .OnwerTap  div:hover,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap  div:hover,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap  div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .consultativeTap div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap  div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap .ScoRow div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .ContractorsTap  div:hover,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div:hover ,
.ReqWaterServiceDoc .Contaner .NavBar .HonestyTap  div:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
.ReqWaterServiceDoc .Contaner .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -20px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
        font-family: "Zain", sans-serif;
    cursor: pointer;
}
.ReqWaterServiceDoc .Contaner .NavBar .login-item {
    display: flex; /* Align image and text in a row */
    align-items: center; /* Center the items vertically */
    margin-bottom: 10px; /* Space between items */
}

.ReqWaterServiceDoc .Contaner .NavBar .login-img {
    width: 30px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    margin-left: 20px   ;
}
/* Slider */
/* Slider */
.Slider {
    width: 98vw;
    height: 500px;
    margin: 19px auto;
    margin-left: calc(51.3% - 50vw);
    position: relative;
    overflow: hidden; 
}

.Slider .ImagesSlider {
    position: absolute; /* Position absolute to stack images */
    height: 88%;
    width: 100%; /* Set width to 100% */
    transition: opacity 0.5s ease; /* Change to opacity transition */
}

.Slider .ImagesSlider img {
    width: 100%; /* Set image width to 100% */
    border-radius: 12px;
    position: absolute; /* Position images absolutely */
    top: 0; /* Align images to the top */
    left: 0; /* Align images to the left */
    opacity: 0; /* Initially hide all images */
    transition: opacity 0.5s ease; /* Transition effect for opacity */
}

.Slider .ImagesSlider img.active {
    opacity: 1; /* Show the active image */
}

.Slider .pagination {
    width: 407px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1;
    background-color: white;
    padding: 3px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 2px 5px 0px #574FBB0D;
}

.Slider .pagination-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: #E5D9FF;
    height: 6px;
    width: 50px;
}

/* VideoContaner */
.ContentContaner{
    width: 80%;
}

/* paragraph  */

.ReqWaterServiceDoc .paragraph{
    direction: rtl; /* Right-to-left text direction */
    font-size: 16px; /* Font size */
    line-height: 1.5; /* Line height for readability */
    color: #333; /* Text color */
    margin-bottom: 10px; /* Margin between paragraphs */
    box-shadow: 0px 4px 19.5px 0px #0000001F;
    padding: 12px;
    border-radius: 12px;

}
.ReqWaterServiceDoc .paragraph h3{
    color: #004693;
    font-size: 18px;
}
.ReqWaterServiceDoc .paragraph p{
    color: #004693;
    font-size: 14px;
    font-weight: 400;
}

    /* btns */

    .Btnscontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
        flex-direction: row-reverse;
    }
    
    .Btnscontainer .content {
        width: 70%;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        padding: 12px;
        border-radius: 12px;
        text-align: right;
        justify-content: end;
        font-weight: 600;
    }
    
    .Btnscontainer label {
        display: flex; /* Use flexbox for label */
        align-items: right; /* Center items vertically */
    }
    
    .Btnscontainer input[type="radio"] {
        margin-right: 10px; /* Space between radio button and text */
    }
    
    .Btnscontainer .service-button {
        width: 100%;
        height: 50px;
        background-color: #3E2984;
        color: white;
        font-size: 23px;
        font-weight: 500;
        border-radius: 12px;
        cursor: pointer;
        padding: 12px;
        text-align: center;
        justify-content: center;
        border: 0;
    }
    .service-button:disabled {
        background-color: #ccc; /* Change background color when disabled */
        cursor: not-allowed; /* Change cursor style */
        opacity: 0.6; /* Make it appear faded */
    }
    
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }