    
        /* LIB */
    

.mr-8{
margin: 8px;
}
.mr-12{
margin: 12px;
}
.padd-8{
    padding: 8px;
}
.padd-12{
    padding: 12px;
}
.padd-24{
    padding: 24px;
}
.displayFlex{
    display: flex;
}
.displayBlock{
    display: flex;
}
.displayNon{
    display: flex;
}
.borderReduce{
    border-radius: 12px;
}


/* GLOPAL */
body{
    font-weight: 300;
    overflow-x: hidden;
    height: auto; 
    font-family: "Helvetica";
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.Contaner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullstope {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; /* Makes the shape a circle */
    margin-left: 5px !important; 
    position: absolute;
    bottom: -24px;
}

