:root {
    --text-color: #004693;
    --btn-color: #3E2984;
    --primiry-btn-color: #E5D9FF;
}
/* Roman Style (Regular) */
@font-face {
    font-family: 'Helvetica';
    src: url('/assest/Fonts/HelveticaNeueLTArabic/HelveticaNeueLTArabic-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Bold Style */
@font-face {
    font-family: 'HelveticaBold';
    src: url('/assest/Fonts/HelveticaNeueLTArabic/HelveticaNeueLTArabic-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
