body{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.presentSaleOffer{
    width: 100%; 
}
    /* presentSaleOffer */
    .presentSaleOffer .ContentContaner{
        width: 80%;
        background-color: white;
        padding: 44px;
        border-radius: 12px;
        height: 80vw;
        margin: 30px;
    }
    .presentSaleCon {
        width: 100%;
        height: 100;
    }

    .presentSaleCon .TapleCon{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        direction: rtl;
        border-radius: 12px;
    } 
    .presentSaleCon .TapleCon .Header{
        width: 20%;
        height: 50px;
        background-color: #FBF9FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: var(--btn-color);
    }  
    .presentSaleCon .TapleCon .Taple{
        width: 100%;
        height: 100%;
        background-color: #FBF9FF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        /* justify-content: space-between; */
    } 
    .presentSaleCon .TapleCon .Taple span{
        width: 100%;
    }
    .presentSaleCon .TapleCon .Taple .Header{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        border-bottom: 2px solid  var(--btn-color);
        margin-bottom: 10px;
        
    } 
    .presentSaleCon .TapleCon .Taple .Header div{
        flex: 1;
        grid-area: 4;
        font-size: 18px;
        font-weight: 800;
        font-family:  "HelveticaBold", sans-serif;
        color: var(--btn-color) ;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    } 
    .presentSaleCon .TapleCon .Taple .body{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        margin-top: 10px;
    } 
    .presentSaleCon .TapleCon .Taple .body div{
        flex: 1;
        grid-area: 4;
        font-size: 16px;
        font-weight: 500;
        font-family:  "Helvetica", sans-serif;
        color: #002195 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
    } 
    .presentSaleCon .TapleCon .Taple .body div:nth-child(6){
        padding: 8px;
    } 
    .presentSaleCon .TapleCon .Taple .body .green{
        background-color: #0A9D4C1A;
        border-radius: 12px;
        color: #0A9D4C;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .yellow{
        background-color: #FFFAED;
        border-radius: 12px;
        color: #F19B02;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .red{
        background-color: #A008131A;
        border-radius: 12px;
        color: #A00813;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .gray{
        background-color: #E0E0E0;
        border-radius: 12px;
        color: #707070;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .blue{
        background-color: #E2E4F8;
        border-radius: 12px;
        color: var(--btn-color);
        font-weight: 800;
    } 


    .presentSaleCon .pagination {
        margin-top: 20px; 
        display: flex; 
        justify-content: center; 
        gap: 5px;
        align-items: center;
        position: relative;
    }
    .presentSaleCon .pagination-button {
        padding: 5px 10px; 
        border: 1px solid #707070; 
        color: #707070;
        cursor: pointer;
        background-color: #FFFFFF;
        transition: background-color 0.3s;
        border-radius: 4px;
    }
    .presentSaleCon .pagination-button.active {
        color: black;
        border:2px solid var(--btn-color);
        background-color: #FBF9FF; 
        font-weight: 600;
    }
    .presentSaleCon .page-select {
        padding: 5px;
        position: absolute;
        right: 0;
        background-color: white;
        color:var(--btn-color) ;
        border: 1px solid #CFD3D8;
        border-radius: 6px;
    }

    .tab {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the tab */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Make sure it appears above other content */
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        height: 600px;
        overflow-y: scroll;
    }
    .tab-content {
        text-align: center; /* Center text in the tab */
    }
    
    .sectionsCont{
        width: 90%;
        height: auto;
        border-radius: 12px;
        padding: 12px;
        margin: 4px;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        margin: auto;
    }
    /* Form */
    .form-container{
        direction: rtl;
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-right: 50px;
        margin-left: auto;
        border-bottom: 1px solid #CFD3D8;
        margin-bottom: 12px;
    }
    .form-container .inputCon {
        display: inline-flex;
        margin: 22px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .form-container .inputCon input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
        width: 280px;
    }
    .form-container .inputCon select{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon label{
        font-weight: 400;
        margin: 8px;
        text-align: justify;
    }
    .form-container .inputCon input::placeholder {
        font-family: "Helvetica", sans-serif;
        color: #888; /* Color of the placeholder text */
        font-style: italic; /* Italic style for the placeholder */
        opacity: 1; /* Set opacity to ensure visibility */
    }

    .Sco{
        width: 65%;
       display: flex;
       flex-direction: column;
        justify-content: start;
        margin-left: auto;
        padding-right: 90px;
    }
    .Sco .section{
        width: 100%;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        border-radius: 12px;
        padding: 12px;
        margin: 6px;
        direction: rtl;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }
    .trustInputs{
        width: 83%;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        direction: rtl;
        margin: 12px;
        padding: 12px;
        border-radius: 12px;
        margin: 20px auto;
        padding-right: 90px;
        align-items: center;
    }
    .checkbox-group{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checkbox-group input[type="checkbox"] {
        margin-right: 10px;
        margin-left: 22px;
        width: 21px;
        height: 21px;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        appearance: none;
        border: 2px solid #ccc;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    /* Style when checkbox is checked */
    .checkbox-group input[type="checkbox"]:checked {
        background-color: var(--btn-color);
        border-color: var(--btn-color); 
    }
    
    .tab button{
        width: 90%;
        height: 40px;
        padding: 10px;
        border-radius: 12px;
        background-color: var(--btn-color);
        font-family: "HelveticaBold";
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px auto;
        cursor: pointer;
    }