body{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.presentSaleOffer{
    width: 100%; 
}
    /* presentSaleOffer */
    .presentSaleOffer .ContentContaner{
        width: 80%;
        background-color: white;
        padding: 44px;
        border-radius: 12px;
        height: 80vw;
        margin: 30px;
    }
    .presentSaleCon {
        width: 100%;
        height: 900px;
    }

    .presentSaleCon .TapleCon{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        direction: rtl;
        border-radius: 12px;
    } 
    .presentSaleCon .TapleCon .Header{
        width: 20%;
        height: 50px;
        background-color: #FBF9FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: var(--btn-color);
    }  
    .presentSaleCon .TapleCon .Taple{
        width: 100%;
        height: 100%;
        background-color: #FBF9FF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        /* justify-content: space-between; */
    } 
    .presentSaleCon .TapleCon .Taple span{
        width: 100%;
    }
    .presentSaleCon .TapleCon .Taple .Header{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        border-bottom: 2px solid  var(--btn-color);
        margin-bottom: 10px;
        
    } 
    .presentSaleCon .TapleCon .Taple .Header div{
        flex-grow: 1;
        grid-area: 4;
        font-size: 18px;
        font-weight: 800;
        font-family:  "HelveticaBold", sans-serif;
        color: var(--btn-color) ;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    } 
    .presentSaleCon .TapleCon .Taple .body{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        margin-top: 10px;
    } 
    .presentSaleCon .TapleCon .Taple .body div{
        flex: 1;
        grid-area: 4;
        font-size: 16px;
        font-weight: 500;
        font-family:  "Helvetica", sans-serif;
        color: #002195 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
    } 
    .presentSaleCon .TapleCon .Taple .body div:nth-child(6){
        padding: 8px;
    } 
    .presentSaleCon .TapleCon .Taple .body .green{
        background-color: #0A9D4C1A;
        border-radius: 12px;
        color: #0A9D4C;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .yellow{
        background-color: #FFFAED;
        border-radius: 12px;
        color: #F19B02;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .red{
        background-color: #A008131A;
        border-radius: 12px;
        color: #A00813;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .gray{
        background-color: #E0E0E0;
        border-radius: 12px;
        color: #707070;
        font-weight: 800;
    } 
    .presentSaleCon .TapleCon .Taple .body .blue{
        background-color: #E2E4F8;
        border-radius: 12px;
        color: var(--btn-color);
        font-weight: 800;
    } 


    .presentSaleCon .pagination {
        margin-top: 20px; 
        display: flex; 
        justify-content: center; 
        gap: 5px;
        align-items: center;
        position: relative;
    }
    .presentSaleCon .pagination-button {
        padding: 5px 10px; 
        border: 1px solid #707070; 
        color: #707070;
        cursor: pointer;
        background-color: #FFFFFF;
        transition: background-color 0.3s;
        border-radius: 4px;
    }
    .presentSaleCon .pagination-button.active {
        color: black;
        border:2px solid var(--btn-color);
        background-color: #FBF9FF; 
        font-weight: 600;
    }
    .presentSaleCon .page-select {
        padding: 5px;
        position: absolute;
        right: 0;
        background-color: white;
        color:var(--btn-color) ;
        border: 1px solid #CFD3D8;
        border-radius: 6px;
    }

    .tab {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the tab */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Make sure it appears above other content */
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        height: 600px;
        overflow-y: scroll;
    }
    .tab-content {
        text-align: center; /* Center text in the tab */
    }
    
    /* Form */
    .form-container{
        direction: rtl;
    }
    .form-container .inputCon {
        display: inline-flex;
        margin: 22px;
        flex-direction: column;
        width: calc((100% / 2) - 50px);
    }
    .form-container .inputCon input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon select{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon label{
        font-weight: 400;
        margin: 8px;
        text-align: justify;
    }
    .form-container .inputCon input::placeholder {
        font-family: "Helvetica", sans-serif;
        color: #888; /* Color of the placeholder text */
        font-style: italic; /* Italic style for the placeholder */
        opacity: 1; /* Set opacity to ensure visibility */
    }
    .form-container .Location {
        display: flex;
        flex-direction: column;
    }
    .form-container .Location .LocationInput{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .form-container .Location .LocationInput input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
        width: 45%;
    }


    .form-container .DragBoxsContnar {
        text-align: center;
    }
    .form-container .DragBox{
        width: calc((100% / 2) - 150px);
        display: inline-block;
        cursor: pointer;
        text-align: justify;
        font-weight: 400;
        margin: 18px 25px;
    }
    .form-container .DragBox .drag-and-drop {
        height: auto;
        padding: 12px;
        box-shadow: 0px 4px 16px 0px #0046931A;
        background-color: #FFFFFF;
        border-radius: 12px;
        display: flex;
        flex-direction: column; /* Keep the flex direction as row */
        justify-content: center;
        align-items: center;
    }
    
    .form-container .DragBox .drag-and-drop img {
        width: 20px; 
        height: 20px; /* Original height for default state */
    }
    
    .form-container .DragBox .drag-and-drop.uploaded img {
        width: 50px; /* Updated width when file is uploaded */
        margin: 10px; /* Margin when file is uploaded */
    }
    .form-container .DragBox  .file-size {
        font-size: 11px;
        font-weight: 300;
    }
    
    .form-container .DragBox .progress-container {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px; 
        overflow: hidden; 
        display: flex; 
        height: 10px;
    }
    
    .form-container .DragBox .progress-bar {
        height: 100%; 
        background-color: #2F7CBE; 
        width: 0; 
        transition: width 0.5s; 
    }
    
    .form-container .DragBox .upload-percentage {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
        direction: rtl; 
    }
    
/* To show file name */
.file-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.BTNCon button{
    width: 70%;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--btn-color);
    font-family: "HelveticaBold";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }