body{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.pumpingRequest{
    width: 100%; 
}
    /* pumpingRequest */
    .pumpingRequest .ContentContaner{
        width: 80%;
        background-color: white;
        padding: 44px;
        border-radius: 12px;
        height: 80vw;
        margin: 30px;
    }
    .pumpingRequestCon {
        width: 100%;
        height: 100;
    }

    .pumpingRequestCon .TapleCon{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        direction: rtl;
        border-radius: 12px;
        align-items: baseline;
    } 
    .pumpingRequestCon .TapleCon .HeaderBtn{
        width: 126px;
        height: 18px;    
        background-color: var(--btn-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 12px;
        margin: 8px;
        border-radius: 12px;
        cursor: pointer;
    }  
    .pumpingRequestCon .TapleCon .Taple{
        width: 100%;
        height: 100%;
        background-color: #FBF9FF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        direction: rtl;
        /* justify-content: space-between; */
    } 
    .pumpingRequestCon .TapleCon .Taple span{
        width: 100%;
    }
    .pumpingRequestCon .TapleCon .Taple .Header{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        border-bottom: 2px solid  var(--btn-color);
        margin-bottom: 10px;
        
    } 
    .pumpingRequestCon .TapleCon .Taple .Header div{
        flex: 1;
        grid-area: 4;
        font-size: 18px;
        font-weight: 800;
        font-family:  "HelveticaBold", sans-serif;
        color: var(--btn-color) ;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    } 
    .pumpingRequestCon .TapleCon .Taple .body{
        width: 100%;
        display: flex;
        flex-direction: row;
        direction: rtl;
        justify-content: space-around;
        margin-top: 10px;
    } 
    .pumpingRequestCon .TapleCon .Taple .body div{
        flex: 1;
        grid-area: 4;
        font-size: 16px;
        font-weight: 500;
        font-family:  "Helvetica", sans-serif;
        color: #002195 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
    } 
    .pumpingRequestCon .TapleCon .Taple .body div:nth-child(6){
        padding: 8px;
    } 


    .pumpingRequestCon .pagination {
        margin-top: 20px; 
        display: flex; 
        justify-content: center; 
        gap: 5px;
        align-items: center;
        position: relative;
    }
    .pumpingRequestCon .pagination-button {
        padding: 5px 10px; 
        border: 1px solid #707070; 
        color: #707070;
        cursor: pointer;
        background-color: #FFFFFF;
        transition: background-color 0.3s;
        border-radius: 4px;
    }
    .pumpingRequestCon .pagination-button.active {
        color: black;
        border:2px solid var(--btn-color);
        background-color: #FBF9FF; 
        font-weight: 600;
    }
    .pumpingRequestCon .page-select {
        padding: 5px;
        position: absolute;
        right: 0;
        background-color: white;
        color:var(--btn-color) ;
        border: 1px solid #CFD3D8;
        border-radius: 6px;
    }

    .tab {
        display: none; /* Hidden by default */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the tab */
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Make sure it appears above other content */
        padding: 20px;
        border-radius: 8px;
        width: 70%;
        height: 600px;
        overflow-y: scroll;
    }
    .tab-content {
        text-align: center; 
    }

    .tab .TapContaner{
        width: 80%;
        height: 70%;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        border-radius: 12px;
        direction: rtl;
        padding: 12px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 13px;
      }
      table{
        width: 100%;
        text-align: center;
      }
      th{
        background-color: #d9d9d99c;
      }
    .tab .TapContaner .FirstSection{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        margin: 12px;
    }
    .tab .TapContaner .FirstSection div:nth-child(1){ 
        flex: 3;
        font-family: "HelveticaBold";
        font-size: 12px;
        text-align: center;
    }
    .tab .TapContaner .FirstSection div:nth-child(2){ 
        flex: 8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tab .TapContaner .FirstSection div:nth-child(2) .title{ 
        font-family: "HelveticaBold";
        text-decoration: underline;
    }
    .tab .TapContaner .FirstSection div:nth-child(2) .FirstSectionTaple{ 
        width: 100%;
        height: 60%;
    }
    .tab .TapContaner .FirstSection div:nth-child(3){ 
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tab .TapContaner .ScoSection{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
    }
    .tab .TapContaner .ScoSection .img{
        flex: 1;
    }
    .tab .TapContaner .ScoSection .ScoSectionTaples{
        flex: 1;
    }
    .tab .TapContaner .ScoSection .ScoSectionTaples .FirstTaple{
        width: 90%;
    }   
    .tab .TapContaner .ScoSection .ScoSectionTaples .ScoTaple{
        width: 90%;
        
    }
    .tab .TapContaner .ScoSection .ScoSectionTaples .ThirdTaple{
        width: 90%;

    }
    .tab .TapContaner .ThirdSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .tab .TapContaner .ThirdSection .requrments{
    }
    .tab .TapContaner .ThirdSection .seal{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        padding: 0 6px;
        border: 1px solid var(--text-color);
        position: absolute;
        top: 21px;
        left: 38%;
        transform: rotate(-13deg);
    }
    .tab .TapContaner .ThirdSection .QRcode{
        width: 37%;
        display: flex;
    }
    .tab .TapContaner .ThirdSection .QRcode .code{

    }
    .tab .TapContaner .ThirdSection .QRcode .text{

    }
        /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }