.ContentContaner{
    background-color: white;
    padding: 44px;
    border-radius: 12px;
    height: 80vw;
    margin: 30px;
    box-shadow: 0px 4px 19.5px 0px #0000001F;
    direction: rtl;
}    
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownCont {
    display: none ;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    padding: 8px 0;
}

.dropdown-content label input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 .searchAndFilterTop {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    margin-bottom: 30px;
} 
 .searchAndFilterTop input{
    flex-grow: 8;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--btn-color);
    gap: 10px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
} 
 .searchAndFilterTop input::placeholder{
    font-family:  "Helvetica", sans-serif;
}
 .searchAndFilterTop select{
    flex-grow: 8;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--btn-color);
    gap: 10px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
} 
 .searchAndFilterTop select::placeholder{
    font-family:  "Helvetica", sans-serif;
}
 .searchAndFilterTop button{
    flex-grow: 2    ;
    background-color: var(--btn-color);
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 8px;
    height: 40px;
    font-family:  "HelveticaBold", sans-serif;
    cursor: pointer;
} 
 .searchAndFilterTop div{
    flex-grow: 1;
    height: 40px;
    border: 2px solid var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 4px;
    font-family:  "Helvetica", sans-serif;
    cursor: pointer;
} 
.searchAndFilterTop {
    /* Styles for the searchAndFilterTop */
}

.searchAndFilterTop .filter {
    cursor: pointer; /* Change cursor on hover */
}

/* Nested selector for filter active state */
.searchAndFilterTop .filter.filter-active {
    background-color: var(--btn-color); 
    color: white;
}

.hidden {
    display: none;
}

/* New class for active filter inputs */
.filter-active-inputs {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space inputs evenly */
    align-items: center; /* Center align items */
}

.input-field {
    width: calc((100% / 3) - 100px);
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--btn-color);
    padding: 8px 32px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    direction: rtl;
}

/* cardContaner   */

.cardContaner{
    width: 100%;
    display: flex;

}
.cardContaner .Card{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 4px 37.4px 0px #00000026;
    margin: 8px;
}
.cardContaner .Card .topSection{
    width: 77%;
    color: var(--btn-color);
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-around;
    font-family: "HelveticaBold";
}
.cardContaner .Card .charts{
    width: 77%;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}
.cardContaner .Card .charts .Link{
    text-align: end;
    width: 100%;
    color: var(--btn-color);
    cursor: pointer;
}
.cardContaner .Card .charts .CahrtsCon{
    display: flex;
    margin: 8px;
    padding: 12px;
    width: 100%;
}
.cardContaner .Card .charts .CahrtsCon div{
    width: 100%;
    display: flex;
    align-items: center;
}
.Tiltes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 75px;
    width: 60% !important;
}
.Tiltes div {
    flex: 1 0 50%;         
    text-align: center;
    box-sizing: border-box;
}
.cardContaner .Card .charts .CahrtsCon .Chart{
    
}
.cardContaner .Card .mainData{
    width: 77%;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 12px;
    color: var(--btn-color);
    border-bottom: 1px solid #D9D9D9;
}
.cardContaner .Card .ScoData{
    width: 77%;
    margin: 8px;
    padding: 12px;
}
.cardContaner .Card .ScoData div{
    display: flex;
    justify-content: space-between;
    margin: -13px;
    padding: 12px;
}
.cardContaner .Card .AllBtn{
    text-decoration: underline;
    color: var(--btn-color);
    cursor: pointer;
}
/* Overlay and modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
