.presentSaleCon {
    width: 100%;
    height: 900px;
    background-color: white;
    margin: 30px;
    padding: 24px;
    border-radius: 12px;
}
.TapleCon{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    direction: rtl;
    border-radius: 12px;
} 
 .TapleCon .Header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
 .TapleCon .Header span{
    width: 20%;
    height: 100%;
    display: flex;
}  
.TapleCon .Header button{
    width: 50%;
    height: 100%;
    font-family: "HelveticaBold";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--btn-color);
    border: 0;
    background-color: transparent;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
}
.activbutton{
    background-color: #FBF9FF !important ; 
}

.TapleCon .Header .AddBtn{
    width: 13%;
    height: 83%;
    background-color: var(--btn-color);
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .TapleCon .Taple{
    width: 100%;
    height: 100%;
    background-color: #FBF9FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    /* justify-content: space-between; */
} 
 .TapleCon .Taple span{
    width: 100%;
}
 .TapleCon .Taple .TapleHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-around;
    border-bottom: 2px solid  var(--btn-color);
    margin-bottom: 10px;
    
} 
 .TapleCon .Taple .TapleHeader div{
    flex-grow: 1;
    grid-area: 4;
    font-size: 18px;
    font-weight: 800;
    font-family:  "HelveticaBold", sans-serif;
    color: var(--btn-color) ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
} 
 .TapleCon .Taple .body{
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-around;
    margin-top: 10px;
} 
 .TapleCon .Taple .body div{
    /* width: calc(100% / 8); */
    flex: 1;
    grid-area: 4;
    font-size: 16px;
    font-weight: 500;
    font-family:  "Helvetica", sans-serif;
    color: #002195 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
} 
 .TapleCon .Taple .body div:nth-child(6){
    padding: 8px;
} 
 .TapleCon .Taple .body .green{
    background-color: #0A9D4C1A;
    border-radius: 12px;
    color: #0A9D4C;
    font-weight: 800;
} 
 .TapleCon .Taple .body .yellow{
    background-color: #FFFAED;
    border-radius: 12px;
    color: #F19B02;
    font-weight: 800;
} 
 .TapleCon .Taple .body .red{
    background-color: #A008131A;
    border-radius: 12px;
    color: #A00813;
    font-weight: 800;
} 
 .TapleCon .Taple .body .gray{
    background-color: #E0E0E0;
    border-radius: 12px;
    color: #707070;
    font-weight: 800;
} 
 .TapleCon .Taple .body .blue{
    background-color: #E2E4F8;
    border-radius: 12px;
    color: var(--btn-color);
    font-weight: 800;
} 


 .pagination {
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    gap: 5px;
    align-items: center;
    position: relative;
}
 .pagination-button {
    padding: 5px 10px; 
    border: 1px solid #707070; 
    color: #707070;
    cursor: pointer;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
    border-radius: 4px;
}
 .pagination-button.active {
    color: black;
    border:2px solid var(--btn-color);
    background-color: #FBF9FF; 
    font-weight: 600;
}
 .page-select {
    padding: 5px;
    position: absolute;
    right: 0;
    background-color: white;
    color:var(--btn-color) ;
    border: 1px solid #CFD3D8;
    border-radius: 6px;
}

.tab {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the tab */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Make sure it appears above other content */
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    height: 600px;
    overflow: scroll;
}
.Tabletab-content {
    text-align: center; 
    width: 100%;
    height: 900px;
    display: flex ;
    flex-direction: column;
    direction: rtl;
    justify-content: center;
    align-items: center;
}

.tab .Tabletab-content .img{
    width: 80%;
    height: 70%;
    box-shadow: 0px 4px 19.5px 0px #0000001F;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
}
.tab .Tabletab-content .img img{
    width: 90%;
    height: 100%;
    border-radius: 12px;
}
.tab .Tabletab-content div:nth-child(3){
    width: 80%;
    height: 4%;
    display: flex;
    background-color: #E2E8F0;
    border-radius: 12px;
    justify-content: right;
    align-items: center;
    margin-bottom: 12px;
}
.tab .Tabletab-content div:nth-child(3) img{
    width: 20px;
    height: 20px;
    margin: 8px;
}
.tab .Tabletab-content div:nth-child(3) span{
    color: var(--text-color);
    font-family: "HelveticaBold";
    font-size: 14px;
}
.tab .Tabletab-content div:nth-child(4){
    width: 80%;
    height: 7%;
    box-shadow: 0px 4px 19.5px 0px #0000001F;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
}
.tab .Tabletab-content div:nth-child(4) span{
    font-family: "HelveticaBold";
    color: var(--btn-color);
    margin: 0 20px;
    font-size: 20px;
}
.tab .Tabletab-content div:nth-child(4) div{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tab .Tabletab-content div:nth-child(4) div input{
    /* width: calc(100% / 3); */
}
.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 22px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    appearance: none;
    border: 2px solid #ccc;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Style when checkbox is checked */
.checkbox-group input[type="checkbox"]:checked {
    background-color: var(--btn-color);
    border-color: var(--btn-color); 
}

.tab .Tabletab-content div:nth-child(5){
    width: 80%;
    height: 5%;
    margin-bottom: 12px;
}
.tab .Tabletab-content div:nth-child(5) button{
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HelveticaBold";
    color: white;
}

.TapContenetCon{
    width: 70%;
    height: 400px;
    box-shadow: 0px 4px 19.5px 0px #0000001F;
    border-radius: 12px;
    padding: 12px;
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    direction: rtl;
    margin: auto;
}
.TapContenetCon h4{
    color: var(--btn-color);
}
.TapContenetCon .AllContra{
    display: flex;
    direction: rtl;
    justify-content: right;
    align-items: center;
}
.TapContenetCon .AllContra input{

}
.TapContenetCon .AllContra input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 22px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    appearance: none;
    border: 2px solid #ccc;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.TapContenetCon .AllContra input[type="checkbox"]:checked {
    background-color: var(--btn-color);
    border-color: var(--btn-color); 
}
.TapContenetCon .AllContra select{
    width: 300px;
    height: 45px;
    font-size: 14px;
    font-family: "HelveticaBold";
    border: 0;
    border-bottom: 1px solid #CFD3D8;
    direction: rtl;
    margin: 12px;
}    
.TapContenetCon .oneContra{
    display: flex;
    direction: rtl;
    justify-content: right;
    align-items: center;
}
.TapContenetCon .oneContra label span{
    color: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}   
.TapContenetCon .oneContra label span img{
    width: 15px; 
    height: 15px;
    margin: 8px;
}
.TapContenetCon .oneContra input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 22px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    appearance: none;
    border: 2px solid #ccc;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.TapContenetCon .oneContra input[type="checkbox"]:checked {
    background-color: var(--btn-color);
    border-color: var(--btn-color); 
}
.TapContenetCon .duration{
    display: flex;
    flex-direction: column;
    margin: 14px;
    width: 100%;
}
.TapContenetCon .duration label{

}
.TapContenetCon .duration select{
        width: 300px;
        height: 45px;
        font-size: 14px;
        font-family: "HelveticaBold";
        border: 0;
        border-bottom: 1px solid #CFD3D8;
        direction: rtl;
}
.BTNCon button{
    width: 70%;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--btn-color);
    font-family: "HelveticaBold";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}