body{
    font-family: "Zain", sans-serif;
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.orderDetils{
    width: 100%; 
}
.orderDetils .Media{
}
.orderDetils .Media .TopLeft{
    position: absolute;
    width: 475px;
    height: 478px;
    top: 0;
    left: 0;
    z-index: -1;
}
.orderDetils .Media .TopLeft img{
    width: 100%;
    height: 100%;
}
.orderDetils .Media .TopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -210px; 
    right: 950px;
    z-index: -1;
    transform: rotate(-10deg);
}
.orderDetils .Media .NastedTopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 87px;
    top: 0px;
}
.orderDetils .Media .AboutSection{
    
}
.orderDetils .Media .footer{
    
}
.orderDetils .Contaner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orderDetils .Contaner .NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
.orderDetils .Contaner .NavBar .contaner{
    width: 100%;
}

.orderDetils .Contaner .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .Contaner .fullstope {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; /* Makes the shape a circle */
    margin-left: 5px; /* Optional: spacing after the circle */
}


.orderDetils .Contaner .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
}
/* OnwerTap */

.orderDetils .Contaner .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    direction: rtl;
    display: flex;
}
.orderDetils .Contaner .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
.orderDetils .Contaner .NavBar .OnwerTap .firstRow,
    .orderDetils .Contaner .NavBar .OnwerTap .ScoRow,
    .orderDetils .Contaner .NavBar .OnwerTap .ThirdRow{
        width: 200px;
        height: 80%;
        margin: 18px;
    }
    .orderDetils .Contaner .NavBar .OnwerTap .ScoRow{
        margin-top: 80px;
    }

/* consultativeTap */
.orderDetils .Contaner .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.orderDetils .Contaner .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
.orderDetils .Contaner .NavBar .consultativeTap .firstRow,
    .orderDetils .Contaner .NavBar .consultativeTap .ScoRow,
    .orderDetils .Contaner .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .orderDetils .Contaner .NavBar .consultativeTap .ScoRow{
        margin-top: 70px;
    }


/* Contractors */

.orderDetils .Contaner .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.orderDetils .Contaner .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

.orderDetils .Contaner .NavBar .ContractorsTap .firstRow,
    .orderDetils .Contaner .NavBar .ContractorsTap .ScoRow,
    .orderDetils .Contaner .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .orderDetils .Contaner .NavBar .ContractorsTap .ScoRow{
        margin-top: 70px;
    }
/* HonestyTap */

.orderDetils .Contaner .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.orderDetils .Contaner .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
.orderDetils .Contaner .NavBar .HonestyTap .firstRow,
    .orderDetils .Contaner .NavBar .HonestyTap .ScoRow,
    .orderDetils .Contaner .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .orderDetils .Contaner .NavBar .HonestyTap .ScoRow{
        margin-top: 70px;
    }

.tab-link {
    cursor: pointer;
}
.tab-content {
    display: none; /* Hide all tabs by default */
}


  
.orderDetils .Contaner .NavBar  .firstRow,
.orderDetils .Contaner .NavBar  .ScoRow{
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
}
.orderDetils .Contaner .NavBar .firstRow .link-container,
.orderDetils .Contaner .NavBar .ScoRow .link-container{
    display: flex; 
    align-items: center; 
    margin: 5px 0;
    height: 24px;
}
.orderDetils .Contaner .NavBar .firstRow .link-container img,
.orderDetils .Contaner .NavBar .ScoRow .link-container img {
    margin-right: 10px; 
    height: 24px; 
    width: auto; 
}
.orderDetils .Contaner .NavBar  .firstRow .link-container a,
.orderDetils .Contaner .NavBar  .ScoRow .link-container a {
    text-decoration: none;
    color: inherit;

}
.orderDetils .Contaner .NavBar .ThirdRow  a {
    display: block;
    height: 24px;
}


.orderDetils .Contaner .NavBar .OnwerTap  div,
.orderDetils .Contaner .NavBar .OnwerTap div,
.orderDetils .Contaner .NavBar .OnwerTap  div,
.orderDetils .Contaner .NavBar .consultativeTap  div,
.orderDetils .Contaner .NavBar .consultativeTap  div ,
.orderDetils .Contaner .NavBar .consultativeTap div ,
.orderDetils .Contaner .NavBar .ContractorsTap  div ,
.orderDetils .Contaner .NavBar .ContractorsTap  div ,
.orderDetils .Contaner .NavBar .ContractorsTap  div,
.orderDetils .Contaner .NavBar .HonestyTap  div ,
.orderDetils .Contaner .NavBar .HonestyTap  div ,
.orderDetils .Contaner .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

.orderDetils .Contaner .NavBar .OnwerTap  div:hover,
.orderDetils .Contaner .NavBar .OnwerTap div:hover,
.orderDetils .Contaner .NavBar .OnwerTap  div:hover,
.orderDetils .Contaner .NavBar .consultativeTap  div:hover,
.orderDetils .Contaner .NavBar .consultativeTap  div:hover ,
.orderDetils .Contaner .NavBar .consultativeTap div:hover ,
.orderDetils .Contaner .NavBar .ContractorsTap  div:hover ,
.orderDetils .Contaner .NavBar .ContractorsTap .ScoRow div:hover ,
.orderDetils .Contaner .NavBar .ContractorsTap  div:hover,
.orderDetils .Contaner .NavBar .HonestyTap  div:hover ,
.orderDetils .Contaner .NavBar .HonestyTap  div:hover ,
.orderDetils .Contaner .NavBar .HonestyTap  div:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
.orderDetils .Contaner .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -20px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
        font-family: "Zain", sans-serif;
    cursor: pointer;
}
.orderDetils .Contaner .NavBar .login-item {
    display: flex; /* Align image and text in a row */
    align-items: center; /* Center the items vertically */
    margin-bottom: 10px; /* Space between items */
}

.orderDetils .Contaner .NavBar .login-img {
    width: 30px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    margin-left: 20px   ;
}
    /* btns */

    .Btnscontainer {
        display: flex;
        width: 100%;
        margin: 20px 0;
        justify-content: start;
    }
    
    
    .Btnscontainer .service-button {
        width: 100%;
        height: 50px;
        background-color: #3E2984;
        color: white;
        font-size: 23px;
        font-weight: 500;
        border-radius: 12px;
        cursor: pointer;
        padding: 12px;
        text-align: center;
        justify-content: center;
        border: 0;
    }

    /* Form */

    .form-container{
        width: 100%;
        height: auto;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        background-color: white;
        direction: rtl;
        padding: 12px;
        border-radius: 12px;
    }
    .form-container .inputCon {
        display: inline-flex;
        margin: 22px;
        flex-direction: column;
        width: calc((100% / 2) - 50px);
    }
    .form-container .inputCon input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon select{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon label{
        font-weight: 400;
        margin: 8px;
    }
    .form-container .inputCon input::placeholder {
        font-family: "Zain", sans-serif;
        color: #888; /* Color of the placeholder text */
        font-style: italic; /* Italic style for the placeholder */
        opacity: 1; /* Set opacity to ensure visibility */
    }
    .form-container .Location {
        display: flex;
        flex-direction: column;
    }
    .form-container .Location .LocationInput{
        display: flex;
        justify-content: space-around;
    }
    .form-container .Location .LocationInput input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
        width: 45%;
    }


    .form-container .DragBoxsContnar {
        text-align: center;
    }
    .form-container .DragBox{
        width: calc((100% / 2) - 150px);
        display: inline-block;
        cursor: pointer;
        text-align: justify;
        font-weight: 400;
        margin: 18px 25px;
    }
    .form-container .DragBox .drag-and-drop {
        height: auto;
        padding: 12px;
        box-shadow: 0px 4px 16px 0px #0046931A;
        background-color: #FFFFFF;
        border-radius: 12px;
        display: flex;
        flex-direction: column; /* Keep the flex direction as row */
        justify-content: center;
        align-items: center;
    }
    
    .form-container .DragBox .drag-and-drop img {
        width: 20px; 
        height: 20px; /* Original height for default state */
    }
    
    .form-container .DragBox .drag-and-drop.uploaded img {
        width: 50px; /* Updated width when file is uploaded */
        margin: 10px; /* Margin when file is uploaded */
    }
    .form-container .DragBox  .file-size {
        font-size: 11px;
        font-weight: 300;
    }
    
    .form-container .DragBox .progress-container {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px; 
        overflow: hidden; 
        display: flex; 
        height: 10px;
    }
    
    .form-container .DragBox .progress-bar {
        height: 100%; 
        background-color: #2F7CBE; 
        width: 0; 
        transition: width 0.5s; 
    }
    
    .form-container .DragBox .upload-percentage {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
        direction: rtl; 
    }
    
/* To show file name */
.file-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .loading-indicator {
        color: #007BFF; /* Change to your desired color */
        font-weight: bold;
        margin-top: 10px;
    }    
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }