body{
    font-family: "Helvetica";
    font-weight: 300;
    overflow-x: hidden; 
    height: auto; 
}
.orderDetils{
    width: 100%; 
}


    /* Form */

    .form-container{
        width: 100%;
        height: auto;
        box-shadow: 0px 4px 19.5px 0px #0000001F;
        background-color: white;
        direction: rtl;
        padding: 12px;
        border-radius: 12px;
    }
    .form-container .inputCon {
        display: inline-flex;
        margin: 22px;
        flex-direction: column;
        width: calc((100% / 2) - 50px);
    }
    .form-container .inputCon input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon select{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
    }
    .form-container .inputCon label{
        font-weight: 400;
        margin: 8px;
    }
    .form-container .inputCon input::placeholder {
        font-family: "Helvetica", sans-serif;
        color: #888; /* Color of the placeholder text */
        font-style: italic; /* Italic style for the placeholder */
        opacity: 1; /* Set opacity to ensure visibility */
    }
    .form-container .Location {
        display: flex;
        flex-direction: column;
    }
    .form-container .Location .LocationInput{
        display: flex;
        justify-content: space-around;
    }
    .form-container .Location .LocationInput input{
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid #CFD3D8;
        width: 45%;
    }


    .form-container .DragBoxsContnar {
        text-align: center;
    }
    
    .form-container .DragBox{
        width: calc((100% / 2) - 150px);
        display: inline-block;
        cursor: pointer;
        text-align: justify;
        font-weight: 400;
        margin: 18px 25px;
    }
    .form-container .DragBox .drag-and-drop {
        height: auto;
        padding: 12px;
        box-shadow: 0px 4px 16px 0px #0046931A;
        background-color: #FFFFFF;
        border-radius: 12px;
        display: flex;
        flex-direction: column; /* Keep the flex direction as row */
        justify-content: center;
        align-items: center;
    }
    
    .form-container .DragBox .drag-and-drop img {
        width: 20px; 
        height: 20px; /* Original height for default state */
    }
    
    .form-container .DragBox .drag-and-drop.uploaded img {
        width: 50px; /* Updated width when file is uploaded */
        margin: 10px; /* Margin when file is uploaded */
    }
    .form-container .DragBox  .file-size {
        font-size: 11px;
        font-weight: 300;
        direction: ltr;
        display: flex;
        justify-content: end;
    }
    
    .form-container .DragBox .progress-container {
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 5px; 
        overflow: hidden; 
        display: flex; 
        height: 10px;
    }
    
    .form-container .DragBox .progress-bar {
        height: 100%; 
        background-color: #2F7CBE; 
        width: 0; 
        transition: width 0.5s; 
    }
    
    .form-container .DragBox .upload-percentage {
        margin-top: 5px;
        font-size: 14px;
        text-align: center;
        direction: rtl; 
    }
    
/* To show file name */
.file-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .loading-indicator {
        color: var(--text-color); /* Change to your desired color */
        font-weight: bold;
        margin-top: 10px;
    }    

        /* btns */

        .Btnscontainer {
            display: flex;
            width: 100%;
            margin: 20px 0;
            justify-content: start;
        }
        
        
        .Btnscontainer .service-button {
            width: 100%;
            height: 50px;
            background-color: #3E2984;
            color: white;
            font-size: 23px;
            font-weight: 500;
            border-radius: 12px;
            cursor: pointer;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            font-family: "HelveticaBold", sans-serif;
        }
        a{
            color: #003366;
            text-decoration: none; 
        }