.presentSaleCon .presentSaleTop {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    margin-bottom: 30px;
} 
.presentSaleCon .presentSaleTop input{
    flex-grow: 8;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--btn-color);
    gap: 10px;
    height: 40px;
    margin: 8px;
    cursor: pointer;
} 
.presentSaleCon .presentSaleTop input::placeholder{
    font-family:  "Helvetica", sans-serif;
}
.presentSaleCon .presentSaleTop button{
    flex-grow: 2    ;
    background-color: var(--btn-color);
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 8px;
    height: 40px;
    font-family:  "HelveticaBold", sans-serif;
    cursor: pointer;
} 
.presentSaleCon .presentSaleTop div{
    flex-grow: 1;
    height: 40px;
    border: 2px solid var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 4px;
    font-family:  "Helvetica", sans-serif;
    cursor: pointer;
} 
.presentSaleTop {
    /* Styles for the presentSaleTop */
}

.presentSaleTop .filter {
    cursor: pointer; /* Change cursor on hover */
}

/* Nested selector for filter active state */
.presentSaleTop .filter.filter-active {
    background-color: var(--btn-color); 
    color: white;
}

.hidden {
    display: none;
}

/* New class for active filter inputs */
.filter-active-inputs {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space inputs evenly */
    align-items: center; /* Center align items */
}

.input-field {
    width: calc((100% / 3) - 100px);
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--btn-color);
    padding: 8px 32px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    direction: rtl;
}