body{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    height: auto; 
}
.ReqWaterService{
    width: 100%; 
}
.ReqWaterService .Media{
}
.ReqWaterService .Media .TopLeft{
    position: absolute;
    width: 475px;
    height: 478px;
    top: 0;
    left: 0;
    z-index: -1;
}
.ReqWaterService .Media .TopLeft img{
    width: 100%;
    height: 100%;
}
.ReqWaterService .Media .TopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -210px; 
    right: 950px;
    z-index: -1;
    transform: rotate(-10deg);
}
.ReqWaterService .Media .NastedTopRight{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 87px;
    top: 0px;
}
.ReqWaterService .Media .AboutSection{
    
}
.ReqWaterService .Media .footer{
    
}
.ReqWaterService .Contaner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ReqWaterService .Contaner .NavBar {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px 0px #655FDB10;
    display: flex;
    border-radius: 12px;
    margin-top: 110px;
    z-index: 10;
}
.ReqWaterService .Contaner .NavBar .contaner{
    width: 100%;
}

.ReqWaterService .Contaner .NavBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row-reverse; 
    width: 100%; 
    padding: 0;
    margin: 0;
}

 .Contaner .fullstope {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%; /* Makes the shape a circle */
    margin-left: 5px; /* Optional: spacing after the circle */
}


.ReqWaterService .Contaner .NavBar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    text-align: center;
    height: 100%; 
    margin: 8px;
    padding: 0 12px;
    font-size: 21px;
    line-height: 24px;
    cursor: pointer;
    color: var(--text-color);
    width: calc((100% / 8) - 51px);
}
/* OnwerTap */

.ReqWaterService .Contaner .NavBar .OnwerTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    direction: rtl;
    display: flex;
}
.ReqWaterService .Contaner .NavBar .OnwerTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterService .Contaner .NavBar .OnwerTap .firstRow,
    .ReqWaterService .Contaner .NavBar .OnwerTap .ScoRow,
    .ReqWaterService .Contaner .NavBar .OnwerTap .ThirdRow{
        width: 200px;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterService .Contaner .NavBar .OnwerTap .ScoRow{
        margin-top: 80px;
    }

/* consultativeTap */
.ReqWaterService .Contaner .NavBar .consultativeTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterService .Contaner .NavBar .consultativeTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterService .Contaner .NavBar .consultativeTap .firstRow,
    .ReqWaterService .Contaner .NavBar .consultativeTap .ScoRow,
    .ReqWaterService .Contaner .NavBar .consultativeTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterService .Contaner .NavBar .consultativeTap .ScoRow{
        margin-top: 70px;
    }


/* Contractors */

.ReqWaterService .Contaner .NavBar .ContractorsTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterService .Contaner .NavBar .ContractorsTap h4{
    text-decoration: underline;
    color: gray;
    
}

.ReqWaterService .Contaner .NavBar .ContractorsTap .firstRow,
    .ReqWaterService .Contaner .NavBar .ContractorsTap .ScoRow,
    .ReqWaterService .Contaner .NavBar .ContractorsTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterService .Contaner .NavBar .ContractorsTap .ScoRow{
        margin-top: 70px;
    }
/* HonestyTap */

.ReqWaterService .Contaner .NavBar .HonestyTap{
    width: 80%;
    height: 300px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top:4px ;
    display: flex;
    direction: rtl;
    display: none;
}

.ReqWaterService .Contaner .NavBar .HonestyTap h4{
    text-decoration: underline;
    color: gray;
}
.ReqWaterService .Contaner .NavBar .HonestyTap .firstRow,
    .ReqWaterService .Contaner .NavBar .HonestyTap .ScoRow,
    .ReqWaterService .Contaner .NavBar .HonestyTap .ThirdRow{
        width: auto;
        height: 80%;
        margin: 18px;
    }
    .ReqWaterService .Contaner .NavBar .HonestyTap .ScoRow{
        margin-top: 70px;
    }

.tab-link {
    cursor: pointer;
}
.tab-content {
    display: none; /* Hide all tabs by default */
}


.ReqWaterService .Contaner .NavBar  .firstRow,
.ReqWaterService .Contaner .NavBar  .ScoRow{
    display: flex; 
    flex-direction: column; 
    margin-bottom: 10px;
}
.ReqWaterService .Contaner .NavBar .firstRow .link-container,
.ReqWaterService .Contaner .NavBar .ScoRow .link-container{
    display: flex; 
    align-items: center; 
    margin: 5px 0;
    height: 24px;
}
.ReqWaterService .Contaner .NavBar .firstRow .link-container img,
.ReqWaterService .Contaner .NavBar .ScoRow .link-container img {
    margin-right: 10px; 
    height: 24px; 
    width: auto; 
}
.ReqWaterService .Contaner .NavBar  .firstRow .link-container a,
.ReqWaterService .Contaner .NavBar  .ScoRow .link-container a {
    text-decoration: none;
    color: inherit;

}
.ReqWaterService .Contaner .NavBar .ThirdRow {
    position: absolute;
    left: 20%;
}   
.ReqWaterService .Contaner .NavBar .ThirdRow {
    position: absolute;
    left: 20%;
    height: 50px;
}
.ReqWaterService .Contaner .NavBar .OnwerTap  div,
.ReqWaterService .Contaner .NavBar .OnwerTap div,
.ReqWaterService .Contaner .NavBar .OnwerTap  div,
.ReqWaterService .Contaner .NavBar .consultativeTap  div,
.ReqWaterService .Contaner .NavBar .consultativeTap  div ,
.ReqWaterService .Contaner .NavBar .consultativeTap div ,
.ReqWaterService .Contaner .NavBar .ContractorsTap  div ,
.ReqWaterService .Contaner .NavBar .ContractorsTap  div ,
.ReqWaterService .Contaner .NavBar .ContractorsTap  div,
.ReqWaterService .Contaner .NavBar .HonestyTap  div ,
.ReqWaterService .Contaner .NavBar .HonestyTap  div ,
.ReqWaterService .Contaner .NavBar .HonestyTap  div {
    font-weight: 400;
    margin: 22px;
    cursor: pointer;
}

.ReqWaterService .Contaner .NavBar .OnwerTap  div:hover,
.ReqWaterService .Contaner .NavBar .OnwerTap div:hover,
.ReqWaterService .Contaner .NavBar .OnwerTap  div:hover,
.ReqWaterService .Contaner .NavBar .consultativeTap  div:hover,
.ReqWaterService .Contaner .NavBar .consultativeTap  div:hover ,
.ReqWaterService .Contaner .NavBar .consultativeTap div:hover ,
.ReqWaterService .Contaner .NavBar .ContractorsTap  div:hover ,
.ReqWaterService .Contaner .NavBar .ContractorsTap .ScoRow div:hover ,
.ReqWaterService .Contaner .NavBar .ContractorsTap  div:hover,
.ReqWaterService .Contaner .NavBar .HonestyTap  div:hover ,
.ReqWaterService .Contaner .NavBar .HonestyTap  div:hover ,
.ReqWaterService .Contaner .NavBar .HonestyTap  div:hover {
    color: #003366; /* Change this to your desired hover color */
    transition: color 0.3s ease; 
    position: relative;
    bottom: 1px;
}

/* login */
.ReqWaterService .Contaner .NavBar .login{
    background-color: #FFFFFF;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    border-bottom-left-radius: 33px ;
    border-bottom-right-radius: 33px ;
    position: relative;
    top: -20px;
    box-shadow: 0px 5.6px 27.6px 0px #0000001F;
    color: black;
    font-size: 10px;
        font-family: "HelveticaBold", sans-serif;
    cursor: pointer;
}
.ReqWaterService .Contaner .NavBar .login-item {
    display: flex; /* Align image and text in a row */
    align-items: center; /* Center the items vertically */
    margin-bottom: 10px; /* Space between items */
}

.ReqWaterService .Contaner .NavBar .login-img {
    width: 30px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
    margin-left: 20px   ;
}

/* VideoContaner */
.ContentContaner{
    width: 80%;
}
a{
    color: #003366;
    text-decoration: none; 
}
    /* footer */

    .footer {
        position: relative;
        display: inline-block;
        width: 98vw;
        height: 330px;
        margin: 19px auto 0 auto;
        margin-left: calc(51.3% - 50vw);
    }
    
    .footer img {
        width: 100%;
    }
    
    .footer .footer-text {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 23%;
        left: 50%;
        color: white;
        text-align: center;
    }    
    .footer .footer-text div{
        font-size:18px ;
    }