
 .TapleCon .table{
    width: 100%;
    height: 100%;
    background-color: #FBF9FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding: 12px;
    } 
 .TapleCon .table span{
    width: 100%;
}
 .TapleCon .table .Header{
    width: 100%;
    direction: rtl;
    border-bottom: 2px solid  var(--btn-color);
    margin-bottom: 10px;
    display: flex;
    
} 
 .TapleCon .table .Header th{
    flex: 1;
    grid-area: 4;
    font-size: 18px;
    font-weight: 800;
    font-family:  "HelveticaBold", sans-serif;
    color: var(--btn-color) ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
} 
 .TapleCon .table .body{
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-around;
    margin-top: 10px;
} 
 .TapleCon .table .body tr{
    flex: 1;
    grid-area: 4;
    font-size: 16px;
    font-weight: 500;
    font-family:  "Helvetica", sans-serif;
    color: #002195 ;
    margin: 4px;
} 
 .TapleCon .table .body tr:nth-child(6){
    padding: 8px;
} 


 .pagination {
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    gap: 5px;
    align-items: center;
    position: relative;
}
 .pagination-button {
    padding: 5px 10px; 
    border: 1px solid #707070; 
    color: #707070;
    cursor: pointer;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
    border-radius: 4px;
}
 .pagination-button.active {
    color: black;
    border:2px solid var(--btn-color);
    background-color: #FBF9FF; 
    font-weight: 600;
}
 .page-select {
    padding: 5px;
    position: absolute;
    right: 0;
    background-color: white;
    color:var(--btn-color) ;
    border: 1px solid #CFD3D8;
    border-radius: 6px;
}

.projectsCon .pagination {
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    gap: 5px;
    align-items: center;
    position: relative;
}
.projectsCon .pagination-button {
    padding: 5px 10px; 
    border: 1px solid #707070; 
    color: #707070;
    cursor: pointer;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
    border-radius: 4px;
}
.projectsCon .pagination-button.active {
    color: black;
    border:2px solid var(--btn-color);
    background-color: #FBF9FF; 
    font-weight: 600;
}
.projectsCon .page-select {
    padding: 5px;
    position: absolute;
    right: 0;
    background-color: white;
    color:var(--btn-color) ;
    border: 1px solid #CFD3D8;
    border-radius: 6px;
}
